<header>{{>backToPetitionButton}}{{>logoutButton}} </header>
<main>
    <div id="container">
    <h1>Account details</h1>
    <h2>Here you can change your account details</h2>
    <form method="post">
         <input type="text" name="first" value="{{profileData.[0].first}}"/>
        <p>First Name</p>
        <br>
        <input type="text" name="last" value="{{profileData.[0].last}}"/>
        <p>Last Name</p>
        <br>
        <input type="text" name="email" value="{{profileData.[0].email}}"/>
        <p>Email Adress</p>
        <br>
        <input type="password" name="password" />
        <p>Password</p>
        <br>
        <input type="text" name="city" value="{{profileData.[0].city}}"/>
        <p>City</p>
        <br>
        <input type="number" name="age" value="{{profileData.[0].age}}"/>
        <p>Age</p>
        <br>
        <input type="text" name="url" value="{{profileData.[0].url}}"/>
        <p>URL</p>
        <br>
        <button id="submit">UPDATE</button>
    </form>
    </div>


</main>
    {{>jquery}}
