
<h1>Here are our signers from {{signers.[0].city}}!</h1>
{{#each signers}}
    <p>{{id}}
        {{#if url}}
            <a href="{{url}}">{{first}} {{last}}</a>
            {{age}}
        {{else}}
            {{first}} {{last}}
            {{age}}
        {{/if}}
</p>
{{/each}}
<p><a href="/signers">Go back to Signers</a></p>
{{>logoutButton}}
<footer>Copyright Julien 2022 </footer>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>
{{!-- <script src="script-signers.js"></script> --}}