<header>{{>backToSignersButton}}{{>logoutButton}}</header>
<main>
    <div id="container">
<h1>Here are our signers from {{signers.[0].city}}!</h1>
{{#each signers}}
    <li>{{id}}
        {{#if url}}
            <a href="{{url}}">{{first}} {{last}}</a>
            {{age}}
        {{else}}
            {{first}} {{last}}
            {{age}}
        {{/if}}
</li>
{{/each}}


</div>
</main>
    {{>jquery}}
