<header>{{>editButton}}{{>backToPetitionButton}}{{>logoutButton}}</header>
<main>
    <div id="container">
<h1>Here are our signers!</h1>
{{#each signers}}
    <p>{{id}}
        {{#if city}}
            {{#if url}}
                <a href="{{url}}">{{first}} {{last}}</a>
                {{age}}
                <a href="/signers/{{city}}">{{city}}</a>
            {{else}}
                {{first}} {{last}}
                {{age}}
                <a href="/signers/{{city}}">{{city}}</a>
            {{/if}}
        {{else}}
            {{#if url}}
                <a href="{{url}}">{{first}} {{last}}</a>
                {{age}}
            {{else}}
                {{first}} {{last}}
                {{age}}
            {{/if}}
        {{/if}}
    </p>
{{/each}}

</div>
</main>
    {{>jquery}}
